<!DOCTYPE html>
<html ng-app="formApp">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS</title>
    <link data-require="bootstrap-css" data-semver="3.1.1" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.15/angular.js" data-semver="1.2.15"></script>
    <script src="app.js"></script>
  </head>

  <body>
    <div ng-controller = "chartController as chart">
      <input ng-model="chart.score" type="number">
      <p>{{chart.score}}</p>
      <button ng-click="chart.rotateFill()">Update Chart</button>
      
      <div class="outer">
          <div class="innerGreen">
              <div class="innerOrange">
                  <div class="innerPurple"></div>
              </div>
          </div>
      </div>

      
       <div id="agx-ohq" ng-app="formApp">
      <h2>Some blurb about the AGX Online Hearing Quiz</h2>
      
      <div ng-controller="modalController as pop">
        <button class="btn-ohq-modal" ng-class="pop.modalBtnOpen" ng-click="pop.updateDisplay()">Take The Quiz</button>

        <div id="ohq-container" ng-class="pop.modalClass">
          <div ng-controller="stageController as stage">
            <!-- views will be injected here -->
            <div ui-view></div>
          

          <button ui-sref="stage.exit" ng-class="stage.testBool(&#39;results&#39;) ? &#39;btn-exit&#39; : &#39;hidden&#39;">X</button>
          <button ng-click="pop.updateDisplay()" ng-class="stage.testBool(&#39;results&#39;) ? &#39;hidden&#39; : &#39;btn-exit&#39;">X</button></div>
        </div>
      </div>
    </div>
      
      
      

      <!-- Circle Chart -->
      <div class="radial-progress">
        <div class="circle">
          <div ng-style="{'transform': chart.fixRotation }" class="outerfixclip">
            <div class="fillFixContainer">
              <div ng-style="{'background-color': chart.color }" class="fill fix"></div>
            </div>
          </div>
          
          <div class="mask full">
            <div ng-style="{'transform': chart.fillRotation, 'background-color': chart.color }" class="fill"></div>
          </div>
            
          <div ng-style="{'transform': chart.halfRotation, 'border': chart.border}" class="mask half">
            <div ng-style="{'transform': chart.fillRotation,  'background-color': chart.color }" class="fill"></div>
          </div>
            
          <div class="mask full">
            <div ng-style="{'transform': chart.fillRotation, 'background-color': chart.color }" class="fill"></div>
            <div ng-style="{'transform': chart.halfRotation }" class="mask half">
              <div ng-style="{'transform': chart.fillRotation,  'background-color': chart.color }" class="fill"></div>
            </div>
          </div>
              
          <div class="shadow"></div>
        </div>

        <div class="inset"></div>
      </div>
      <!-- END Circle Chart -->

    </div>
  </body>
</html>
