/* score Progress Circle */
.radial-progress {
  margin: 50px;
  width: 150px;
  height: 150px;
  background-color: #d6dadc;
  border-radius: 50%;
  z-index: 0;
  position: relative;
}

.circle, .mask.full, .fill, .fill.fix, .mask.half, .shadow, .fillFixContainer, .outerfixclip {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
}

.radial-progress .circle .shadow {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2) inset;
  z-index: 1000;
}

.radial-progress .circle .mask {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.radial-progress .circle .mask .fill {
  -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  background-color: #97a71d;
}

.fill.fix {
  -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  background-color: orange;
  z-index: 1000;
  transform: rotate(2deg);
  -webkit-backface-visibility: hidden;
  -webkit-transition: transform 1s, background-color 1s;
  -ms-transition: transform 1s, background-color 1s;
  transition: transform 1s, background-color 1s;
}

.fillFixContainer {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.outerfixclip {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  z-index: 10;
  -webkit-backface-visibility: hidden;
  -webkit-transition: transform 1s, background-color 1s;
  -ms-transition: transform 1s, background-color 1s;
  transition: transform 1s, background-color 1s;
}

.radial-progress .inset {
  width: 75%;
  height: 75%;
  position: absolute;
  margin-left: 12.5%;
  margin-top: 12.5%;
  background-color: #fbfbfb;
  border-radius: 50%;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.radial-progress .circle .mask,
.radial-progress .circle .fill
{
  -webkit-backface-visibility: hidden;
  -webkit-transition: transform 1s, background-color 1s;
  -ms-transition: transform 1s, background-color 1s;
  transition: transform 1s, background-color 1s;
}

mask.full fill {
  z-index: 0;
}

/* score Progress Circle END*/

