/* score Progress Circle */
.radial-progress {
  margin: 50px;
  width: 120px;
  height: 120px;
  background-color: #d6dadc;
  border-radius: 50%;
    z-index: 0;
}
.radial-progress .circle .mask,
.radial-progress .circle .fill,
.radial-progress .circle .shadow {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
}
.radial-progress .circle .shadow {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2) inset;
}

.radial-progress .circle .mask {
  clip: rect(0px, 120px, 120px, 60px);

}
.radial-progress .circle .mask .fill {
  clip: rect(0px, 60px, 120px, 0px);
  background-color: #97a71d;
}

.fill.fix {
  clip: rect(0px, 120px, 60px, 0px);
  background-color: aqua;
z-index: 4;
}

.radial-progress .inset {
  width: 90px;
  height: 90px;
  position: absolute;
  margin-left: 15px;
  margin-top: 15px;
  background-color: #fbfbfb;
  border-radius: 50%;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.radial-progress .circle .mask,
.radial-progress .circle .fill {
  -webkit-backface-visibility: hidden;
  -webkit-transition: transform 1s, background-color 1s;
  -ms-transition: transform 1s, background-color 1s;
  transition: transform 1s, background-color 1s;

}

mask.full fill {
    z-index: 0;
}

/* score Progress Circle END*/

