<div ng-controller="SpeechTest as speech" class="stage-speech-test">

	<div class="header">
		<div class="speech-test-body" ng-hide="speech.testCompleted">
			<p class="lead-text">Click on the words you hear spoken</p>

			<div class="answerGrid">
				<data-speech-test-btn></data-speech-test-btn>
			</div>

			<h3>&nbsp;<span style="margin: 0% 5%;" ng-repeat="curAns in speech.answerInput track by $index">{{curAns}}&nbsp;</span></h3>
			
			<div class="calib-tone-3">
				<button ng-show="!speech.startTestDisabled" ng-disabled="speech.startTestDisabled" ng-click="speech.roundAudio()" class="btn-yn-yes" id="toneAnswer">Start Test</button>
			</div>  
		</div>

		<!-- Test Completed Section -->
		<div ng-show="speech.testCompleted">
			<h3>Looks like you've already completed this section. Would you like to:</h3>
			<button ng-click="speech.resetStage()" class="btn-submit">Re-take test?</button>
			<p>— Or —</p>
			<button ui-sref="stage.results" class="btn-submit">Go to next section?</button>
		</div>

		<div class="tone-test-tones">
			<audio id="bgNoise" ng-src="{{speech.bgNoiseSettings.srcPath}}"></audio>
		</div>
	</div>
</div>