<div class="stage-tone-test" ng-controller="toneTestController as tone">
      <div class="header">

      <div class="tone-test-body">
        <p class="lead-text">Do you hear the tone playing?</p>

        <div class="tone-test-frequencies">
          <p ng-attr-class="freq-2000hz {{tone.curClass[0]}}">Tone 1</p>
          <p ng-attr-class="freq-4000hz {{tone.curClass[1]}}">Tone 2</p>
          <p ng-attr-class="freq-6000hz {{tone.curClass[2]}}">Tone 3</p>
          <p ng-attr-class="freq-8000hz {{tone.curClass[3]}}">Tone 4</p>
          <p ng-attr-class="freq-10000hz {{tone.curClass[4]}}">Tone 5</p>
        </div>
      </div>

      <div class="btns-yn">
        <button ng-hide="tone.buttonHide_YN" class="btn-yn-yes" ng-click="tone.nextTone(true)" ng-disabled="{{tone.disabledBool}}">Yes</button>
        <button ng-hide="tone.buttonHide_YN" class="btn-yn-no" ng-click="tone.nextTone(false)" ng-disabled="{{tone.disabledBool}}">No</button>
      </div>

      <div class="tone-test-tones">
        <audio autoplay id="toneAudio" ng-src="{{tone.curToneObj.srcPath}}"></audio>
      </div>
   <button ng-hide="tone.buttonHide_Next" ui-sref="stage.speechTest" class="btn-submit-intro">Next Step <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
    </div>
</div>
