<div class="stage-exit" ng-controller="exitController as exit">
  <div class="exit-body">
    <p class="lead-text">Not ready to speak to a hearing expert?</p>
    <p class="lead-text">Get your hearing quiz results emailed to you and learn more about better hearing.</p>


    <input type="email" placeholder="example@email.com">

    <button ng-click="exit.reportSubmit()" ui-sref="stage.toneTest" class="btn-submit">Send My Results</button>

    <div class="disclaimer">
      <input type="checkbox" name="newsletter" value="newsletter" checked>Check this box to receive informative newsletters from our practice.
    </div>
  </div>
</div>
