
 <div class="stage-volume" ng-controller="volumeController as volume">
  <div class="volume-body">
    <p class="lead-text">Adjust the volume on your computer so the noise plays at a comfortable level.</p>
    <p class="lead-text">Please do not adjust your computer volume after this step.</p>
  </div>
      <button ui-sref="stage.toneTest">Tone Test</button>
    <audio id="volumeAudio" src="/sounds/noise.wav" loop autoplay></audio>
      
  <button ng-click="volume.stopNoise()" ui-sref="stage.toneTest" class="btn-submit-intro">Next Step <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
</div>