<div class="stage-intro">
      <div class="header">
        <img class="agx-hearing-logo logo-intro" src="./img/AGX-Hearing-Logo-Horizontal.png" />
        <h1>AGX<sup>&reg;</sup> Online Hearing Test</h1>
      </div>

      <div>
        <p class="lead-text">Is it time to talk to an audiologist?</p>
        <p class="lead-text">This online hearing test can help identify problem areas in your hearing health.</p>
      </div>

    <button ui-sref="stage.quiz" class="btn-submit-intro">Take the Test <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
    </div>