<div class="stage-intro">
      <div class="header">
        <img class="agx-hearing-logo logo-intro" src="./img/AGX-Hearing-Color.png" />
        <h1>AGX<sup>&reg;</sup> Online Hearing Quiz</h1>
      </div>

      <div class="intro-body">
        <p class="lead-text">Is it time to talk to an audiologist?</p>
        <p class="lead-text">This online hearing quiz can help identify problem areas in your hearing health.</p>
      </div>

    <button ui-sref="stage.quiz" class="btn-submit">Take the Quiz <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
    <div class="disclaimer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus dolor ante, eget vestibulum orci vehicula congue. Vivamus faucibus maximus consequat. Proin et mattis neque, vel pulvinar magna. Mauris maximus mi ac tellus rhoncus malesuada. Nullam ornare sapien sagittis congue ullamcorper. Vivamus urna enim, euismod id orci nec, sagittis lobortis lorem. Nam ornare tellus in aliquam dapibus.</div>
    </div>