<div class="row" ng-controller = "stageController as stage">
    <div class="col-sm-8 col-sm-offset-2">
        <div id="form-container">
            <div class="page-header text-center">
               
                
                <!-- the links to our nested states using relative paths -->
                <!-- add the active class if the state matches our ui-sref 
                <div ui-sref-active="hidden" ui-sref=".intro" >-->
               
                <div id="status-buttons" ng-class="stage.testBool('intro') ? 'hidden' : 'text-center nav'">
                   <img class="agx-hearing-logo logo-stage" src="./img/AGX-Hearing-Color.png" />
                    <button id="btn-restart" ng-click="stage.restart()">Restart Test</button>
                
                    <div id="stepNavBar">
                        <div ng-class="stage.testBool('quiz') ? 'stepNavItem active' : 'stepNavItem'">Quiz</div>
                        <div ng-class="stage.testBool('volume') ? 'stepNavItem active' : 'stepNavItem'" >Volume</div>
                        <div ng-class="stage.testBool('tone') ? 'stepNavItem active' : 'stepNavItem'" >Tone Test</div>
                        <div ng-class="stage.testBool('speech') ? 'stepNavItem active' : 'stepNavItem'" >Speech Test</div>
                        <div ng-class="stage.testBool('results') ? 'stepNavItem active' : 'stepNavItem'" >Results</div>
                    
                    </div>
                    
                </div>
                    <!-- <a ui-sref-active="active" ui-sref=".intro"><span>1</span></a>
                    <a ui-sref-active="active" ui-sref=".quiz"><span>2</span></a>
                   
                     <a ui-sref-active="active" ui-sref=".volume"><span>3</span></a>
                      <a ui-sref-active="active" ui-sref=".toneTest"><span>4</span></a>
                      <a ui-sref-active="active" ui-sref=".speechTest"><span>5</span></a>
                      <a ui-sref-active="active" ui-sref=".results"><span>6</span></a> -->
                </div>
                
        
                
            </div>
            
            <!-- use ng-submit to catch the form submission and use our angular function -->
            
            <form id="signup-form" ng-submit="processForm()">
                
                <!-- our nested state views will be injected here -->
                <div id="form-views" ui-view></div>
            </form>
        </div>
        
    </div>
<!--</div> -->


